@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,700;1,400&family=Pathway+Gothic+One&family=Playfair+Display:ital,wght@0,400;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1, .box2, .box3 {
    border: solid skyblue;
    padding-left: 10px;
    margin-bottom: 10px;
}

.innerbox1{
    flex-direction: row;
}

.gothic {
    font-family: 'Pathway Gothic One', sans-serif;
}

.pd1, .pd2, .pd3 {
    font-family: 'Playfair Display', serif;
}

.pd2 {
    font-weight: 400;
    font-style: italic;
}
.pd3 {
    font-weight: 700;
    font-style: bold italic;
}
.karla1, .karla2, .karla3 {
    font-family: 'Karla', sans-serif;
}
.karla1 {
    font-weight: 200;
}
.innerbox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colorbox {
    border: solid black;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.gray {
    background-color: #808080;
}
.skyblue {
    background-color: #87ceeb;
}
.mauve {
    background-color: #967A94;
}
.mintgreen {
    background-color: #A2E4B8;;
}
.black {
    background-color: black;
    color: whitesmoke;
}
